<h1>
    Aplikacja magazynowa
</h1>

<a>Bardzo fajna aplikacja służąca do zarządzania magazynem</a>
<a class="nav-link text-dark" asp-area="" asp-controller="Warehouses" asp-action="Index">Warehouse</a>
