html {
    font-size: 14px;
    overflow: scroll;
}
html, body{
    height: 100%;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.row {
    flex: 1; 
     /* Dodaje paski przewijania, jeœli zawartoœæ jest d³u¿sza ni¿ widok */
}
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
}