@model Magazyn.Models.Warehouse

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Warehouse</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ColorId" class="control-label"></label>
                <input asp-for="ColorId" class="form-control" readonly/>
                <span asp-validation-for="ColorId" class="text-danger" ></span>
            </div>
            <div>
                <input type="text" id='ColorPick' />                
            </div>

            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input type="file" asp-for="Image" class="form-control" accept=".jpg, .jpeg, .png, .gif, .bmp" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnerId" class="control-label"></label>
                <select asp-for="OwnerId" class ="form-control" asp-items="ViewBag.OwnerId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $("#ColorPick").spectrum({
            color: "#f00",
            flat: true,
            //showInput: true,  // Pokazuje kolor
            showButtons: false,
            move: function (color) {
                var selectedColor = color.toHexString();
                $("body").css("background-color", selectedColor);
                // Na razie nie działa
                //var lightColor = lightenHexColor(selectedColor, 20);
                //$("input").css("background-color", lightColor);
                $("#ColorId").val(selectedColor);
            }
        });
    </script>

}
