@model Magazyn.Models.Warehouse

 @{
    ViewData["Title"] = "Edytuj";
} 
<body style="background-color: @Model.ColorId">
    <h1>Edycja</h1>

    <h4>Warehouse</h4>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label asp-for="Name" class="control-label">Nazwa magazynu</label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label">Hasło</label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <!--poniższy div, tylko do debugowania-->
                 <div class="form-group">
                    <input asp-for="ColorId" class="form-control" type="hidden" readonly/>
                </div> 
                <div>
                    <label class="control-label">Kolor tła</label>
                    <input type="text" id='ColorPick' value=@Model.ColorId/>                
                </div>
                <div>
                    <h3>
                        Właściciel
                    </h3>
                </div>
                <div class="form-group">
                    <label asp-for="Owner!.Name" class="control-label">Właściciel</label>
                    <input asp-for="Owner!.Name" class ="form-control"/>
                    <span asp-validation-for="Owner!.Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Owner!.Email" class="control-label">Email</label>
                    <input asp-for="Owner!.Email" class="form-control" />
                    <span asp-validation-for="Owner!.Email" class="text-danger"></span>
                </div>
                <div>
                    <h3>Adres</h3>
                </div>
                <div class="form-group">
                    <label asp-for="Address!.StreetName" class="control-label">Ulica</label>
                    <input asp-for="Address!.StreetName" class="form-control" />
                    <span asp-validation-for="Address!.StreetName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address!.HouseNumber" class="control-label">Numer budynku</label>
                    <input asp-for="Address!.HouseNumber" class="form-control" />
                    <span asp-validation-for="Address!.HouseNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address!.LocalNumber" class="control-label">Numer lokalu</label>
                    <input asp-for="Address!.LocalNumber" class="form-control" />
                    <span asp-validation-for="Address!.LocalNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address!.Place" class="control-label">Miasto</label>
                    <input asp-for="Address!.Place" class="form-control" />
                    <span asp-validation-for="Address!.Place" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address!.code" class="control-label">kod pocztowy</label>
                    <input asp-for="Address!.code" class="form-control" />
                    <span asp-validation-for="Address!.code" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">Back to List</a>
    </div>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
        <script>
            $("#ColorPick").spectrum({
                flat: true,
                //showInput: true,  // Pokazuje kolor
                showButtons: false,
                move: function (color) {
                    var selectedColor = color.toHexString();
                    $("body").css("background-color", selectedColor);
                    // Na razie nie działa
                    //var lightColor = lightenHexColor(selectedColor, 20);
                    //$("input").css("background-color", lightColor);
                    $("#ColorId").val(selectedColor);
                }
            });
        </script>


    }
</body>